<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAkSC1d8_mt2nkmGG_QOg0l3Wzk91nRbU</string>
	<key>GCM_SENDER_ID</key>
	<string>1096111989530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.frontendtpeo</string>
	<key>PROJECT_ID</key>
	<string>new-fellow-project</string>
	<key>STORAGE_BUCKET</key>
	<string>new-fellow-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096111989530:ios:4d616ac10046632b4182a3</string>
</dict>
</plist>